
html, body{
    height: 100%;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
}

.calculator{
    width: 100%;
    margin:40px auto;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(15,23,42,0.12);
    background:white;
    overflow: hidden;
}

.display{
    font-size: 40px;
    min-height: 28px;
    word-break: break-all;
    padding: 18px;
    background: white;
    border-bottom: 1px solid #a7a7a7;
    text-align: right;
    color: black;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
    background: white;
    border-radius: 8px;
}


button{
    font-size: 30px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(15,23,42,0.03);
    background: black;
    color: white;
}



button:active{ transform: translateY(1px);}

button.plus{
    color: black;
    font-weight: 600;
    grid-column: 5/6;
    grid-row: 4/6;
    background:gray;
}

button.operator{
    color: black;
    background:gray;
}

button.equal{
    color: black;
    font-weight: 600;
    grid-column: 2/5;
    grid-row: 5/6;
    background: gray;
}

button.clear{
    background:rgb(255, 136, 0);
    color: black;
}

@media (max-width: 420px){
    .calculator{width: calc(100% - 32px); margin: 20px;}
}
